Tuloy
Google
grav_calcs.txt

.ipynb_checkpoints
*.pyc

# exec files
TimeKeeper

### may use below to ignore all files w/o extensions
*       # ignore all
!*.*    # unignore all w/ extensns
!*/     # unignore all dirs
